<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Medium title
      </h1>
      <h2 class="subtitle">
        Medium subtitle
      </h2>
    </div>
  </div>
</section>
<section class="hero">
    <div class="hero-body">
    <div class="container has-text-centered">
      <p>Bacon ipsum dolor amet burgdoggen pork flank bresaola, tri-tip leberkas ground round sirloin andouille shank tenderloin tongue. Frankfurter landjaeger capicola leberkas cupim. Pork chop pork belly kevin shoulder landjaeger frankfurter filet mignon doner pork pig ribeye jerky. Tail andouille chuck, venison ball tip pork belly doner biltong kielbasa fatback drumstick. Ground round bacon venison strip steak sausage bresaola, tongue landjaeger drumstick cupim pork belly shankle short loin. Salami kevin kielbasa jowl.</p>
    </div>
  </div>
</section>
<section class="hero is-fullheight">
    <div class="columns is-gapless">
        <div class="column is-one-third">
            <div style="padding:1rem">
                <div class="has-text-centered" style="height: 25vh"> 
                    Land's End
                        <div class="is-divider" data-content="TO"></div>
                    John o' Groats
                </div>
                <div>
                    <ul>
                        <li>
                            <div class="icon icon-location"></div>
                            <div>
                                <span>Lands End</span>
                                <small><i class="icon icon-clock"></i>46 minutes ago</small>
                            </div>
                    </li>
                </ul>
            </div>
            </div>
            
            
            
        </div>
        <div class="column is-two-thirds">is-three-fifths</div>
    </div>
</section>